* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #e6ecf0;
    font-family: "Segoe UI", Arial, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.content {
    max-width: 1170px;
    margin: 0 45px !important;
}

header#main-header {
    height: 46px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 99;
    position: fixed;
    width: 100%;
}

header#main-header .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header#main-header .content img.logo {
    margin: 0 50px;
}

header#main-header nav {
    display: flex;
    height: 100%;
}

header#main-header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    color: #667580;
    margin-left: 30px;
}

header#main-header nav ul li:first-child {
    margin-left: 0;
}

header#main-header nav ul li img {
    margin-right: 7px;
}

header#main-header div.side {
    display: flex;
}

header#main-header div.side img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 15px;
}

header#main-header div.side button {
    width: 90px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    background-color: #4c875a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 0;
    border-radius: 16px;
}

header#main-header div.side button:hover {
    background-color: #206a32;
}

header#main-header div.side input {
    width: 220px;
    height: 33px;
    padding: 0 30px 0 12px;
    border-radius: 16px;
    font-size: 12px;
    color: #667580;
    border: 1px solid #e6ecf0;
    background: #f5f8fa url("/assets/svg/search.svg") no-repeat 190px center;
}

header#main-header div.side input:focus {
    border: 2px solid #206a32;
    background-color: #fff;
    color: #000;
}

header#main-header div.side input:focus::placeholder {
    color: #c2c9cf;
}

div.banner {
    height: 367px;
    background-color: #206a32;
}

div.banner img {
    height: 415px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}

div.menubar {
    height: 59px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin-top: 0;
    z-index: 2;
    position: relative;
}

div.menubar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 330px !important;
    height: 100%;
}

div.menubar .content ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
}

div.menubar .content ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    position: relative;
    height: 100%;
}

div.menubar .content ul li.active::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #206a32;
}

div.menubar .content ul li.active strong {
    color: #206a32;
}

div.menubar .content ul li:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #206a32;
}

div.menubar .content ul li span {
    color: #667580;
    font-size: 12px;
    font-weight: bold;
    padding-top: 1px;
}

div.menubar .content ul li strong {
    color: #667580;
    font-size: 18px;
}

div.menubar .content .actions {
    display: flex;
}

div.menubar .content .actions button {
    width: 90px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    color: #4c875a;
    border: 1px solid #4c875a;
    border-radius: 16px;
    background-color: #fff;
    margin-right: 20px;
}

div.menubar .content .actions button:hover {
    background-color: #f5f8fa;
}

div.wrapper-content {
    display: flex;
}

div.wrapper-content aside.profile {
    width: 265px;
    min-width: 265px;
    z-index: 80;
}

div.wrapper-content aside.profile img.avatar {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -180px;
}

div.wrapper-content aside.profile h1 {
    font-size: 21px;
    color: #14171a;
    margin-top: 6px;
    line-height: 1;
}

div.wrapper-content aside.profile span {
    font-size: 14px;
    color: #667580;
}

div.wrapper-content aside.profile p {
    font-size: 14px;
    color: #14171a;
    margin: 14px 0;
}

div.wrapper-content aside.profile ul {
    list-style: none;
}

div.wrapper-content aside.profile ul li {
    font-size: 14px;
    color: #667580;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

div.wrapper-content aside.profile ul li a {
    color: #206a32;
    text-decoration: none;
}

div.wrapper-content aside.profile ul li a:hover {
    text-decoration: underline;
}

div.wrapper-content aside.profile ul li img {
    margin-right: 5px;
}

div.wrapper-content aside.profile button {
    width: 260px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    background-color: #4c875a;
    background-color: #4c875a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 0;
    border-radius: 16px;
    padding: 2px 0;
    margin: 15px 0 10px 0;
}

div.wrapper-content aside.profile button:hover {
    background-color: #206a32;
}

div.wrapper-content aside.profile .widget div.title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

div.wrapper-content aside.profile .widget {
    margin-top: 20px;
}

div.wrapper-content aside.profile .widget div.title span {
    color: #206a32;
}

div.wrapper-content aside.profile .widget div.title:hover {
    text-decoration: underline #206a32;
}

div.wrapper-content aside.profile .widget div.title img {
    margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

div.wrapper-content aside.profile .followers ul li {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #d0d5d9;
    margin: 5px 0 0 5px;
    flex-shrink: 0;
}

div.wrapper-content aside.profile .followers ul li:first-child {
    margin-left: 0;
}

div.wrapper-content aside.profile .followers ul li:nth-child(6) {
    margin-left: 0;
}

div.wrapper-content aside.profile .images {
    margin-bottom: 16px;
}

div.wrapper-content aside.profile .images ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

div.wrapper-content aside.profile .images ul li {
    width: 83px;
    height: 83px;
    background-color: #66757f;
    border-radius: 4px;
    margin: 8px 0 0 8px;
    flex-shrink: 0;
}

div.wrapper-content aside.profile .images ul li:first-child {
    margin-left: 0;
}

div.wrapper-content aside.profile .images ul li:nth-child(4) {
    margin-left: 0;
}

div.wrapper-content section.timeline {
    flex: 1;
}

div.wrapper-content aside.widgets {
    width: 290px;
    margin-top: 10px;
}

div.wrapper-content aside.widgets div.widget {
    background-color: #fff;
}

div.wrapper-content aside.widgets div.widget div.followers-container {
    padding: 15px;
    border-bottom: 1px solid #e6ecf0;
}

div.wrapper-content aside.widgets .title {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

div.wrapper-content aside.widgets .title h3 {
    color: #14171a;
    font-size: 18px;
}

div.wrapper-content aside.widgets .title button {
    color: #206a32;
    font-size: 12px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    padding-left: 11px;
}

div.wrapper-content aside.widgets .title span {
    color: #206a32;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    padding-left: 11px;
}

div.wrapper-content aside.widgets .title button:hover {
    text-decoration: underline #206a32;
}

div.wrapper-content aside.widgets .title span:hover {
    text-decoration: underline #206a32;
}

div.wrapper-content aside.widgets .title button::before {
    content: ".";
    margin: 0 5px;
    position: absolute;
    left: 0;
    top: -3px;
    color: #14171a;
}

div.wrapper-content aside.widgets .title span::before {
    content: ".";
    margin: 0 5px;
    position: absolute;
    left: 0;
    top: -3px;
    color: #14171a;
}

div.wrapper-content aside.widgets ul {
    list-style: none;
}

div.wrapper-content aside.widgets ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6ecf0;
    padding-bottom: 8px;
}

div.wrapper-content aside.widgets ul li + li {
    margin-top: 10px;
}

div.wrapper-content aside.widgets ul li:last-child {
    padding-bottom: 15px;
    border: none;
}

div.wrapper-content aside.widgets ul li div.wrapper-container {
    display: flex;
}

div.wrapper-content aside.widgets ul li div.wrapper-container img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 3px;
}

div.wrapper-content
    aside.widgets
    ul
    li
    div.wrapper-container
    div.main-container
    button {
    width: 90px;
    height: 26px;
    font-size: 12px;
    padding: 8px 0;
    font-weight: bold;
    color: #206a32;
    border: 1px solid #206a32;
    border-radius: 16px;
    background-color: #fff;
    margin-top: 4px;
    cursor: pointer;
}

div.wrapper-content
    aside.widgets
    ul
    li
    div.wrapper-container
    div.main-container
    button:hover {
    background-color: #f5f8fa;
}

div.wrapper-content
    aside.widgets
    ul
    li
    div.wrapper-container
    div.main-container
    div.info-container
    strong {
    color: #14171a;
    font-size: 14px;
}

div.wrapper-content
    aside.widgets
    ul
    li
    div.wrapper-container
    div.main-container
    div.info-container
    span {
    font-size: 14px;
    color: #657786;
    margin-left: 5px;
    text-overflow: ellipsis !important;
    width: 100px;
    overflow: hidden;
}

div.wrapper-content
    aside.widgets
    ul
    li
    div.wrapper-container
    div.main-container
    div.info-container
    img {
    width: 13px;
    height: 13px;
    margin: 3px 0 3px 3px;
}

div.wrapper-content
    aside.widgets
    ul
    li
    div.wrapper-container
    div.main-container
    div.info-container {
    display: flex;
}

div.wrapper-content aside.widgets ul li span.close {
    color: #cdd7de;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
}

div.wrapper-content aside.widgets div.widget div.find {
    width: 100%;
    height: 140px;
    padding: 15px;
}

div.wrapper-content aside.widgets div.widget div.find div.outlook {
    height: 80px;
    border-bottom: 1px solid #e6ecf0;
    cursor: pointer;
    margin-bottom: 10px;
}

div.wrapper-content aside.widgets div.widget div.find span {
    font-size: 12px;
    color: #206a32;
}

div.wrapper-content aside.widgets div.widget div.find span:hover {
    text-decoration: underline;
}

div.wrapper-content
    aside.widgets
    div.widget
    div.find
    div.outlook
    div.image-container {
    width: 38px;
    height: 34px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}

div.wrapper-content aside.widgets div.widget div.find div.outlook img {
    width: 24px;
    height: 24px;
}

div.wrapper-content
    aside.widgets
    div.widget
    div.find
    div.outlook
    div.text-container
    strong {
    font-size: 14px;
}

div.wrapper-content
    aside.widgets
    div.widget
    div.find
    div.outlook
    div.text-container
    span {
    color: #657786;
    font-size: 12px;
    line-height: 2 !important;
}

div.wrapper-content
    aside.widgets
    div.widget
    div.find
    div.outlook
    div.text-container
    span:hover {
    text-decoration: none;
}

div.wrapper-content
    aside.widgets
    div.widget
    div.find
    div.outlook
    div.text-container {
    padding-left: 8px;
    line-height: 0.9;
}

div.wrapper-content aside.widgets .trends {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
}

div.wrapper-content aside.widgets .trends div.title {
    margin-bottom: 10px;
}

div.wrapper-content aside.widgets .trends ul li {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

div.wrapper-content aside.widgets .trends ul li span.title {
    font-weight: bold;
    font-size: 14px;
    color: #206a32;
    margin: 0;
}

div.wrapper-content aside.widgets .trends ul li span.sub {
    color: #657786;
    font-size: 12px;
}

div.wrapper-content aside.widgets .trends ul li span.title:hover {
    text-decoration: underline;
}

div.wrapper-content aside.widgets ul.footer {
    color: #657786;
    font-size: 12px;
    padding-right: 8px;
    margin: 10px 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

div.wrapper-content aside.widgets ul.footer li.footer-item {
    margin-top: 0;
    padding-left: 10px;
    padding-bottom: 2px;
}

div.wrapper-content aside.widgets ul.footer li.footer-item:hover {
    text-decoration: underline #206a32;
    color: #206a32;
    cursor: pointer;
}
